<div class="panel">
  <a href="https://developers.meteor.com" class="logo">
    <%- partial('partials/icon-coral') %>
  </a>
  <div class="panel-group stacked">
    <div class="panel-item">
      <a class="" href="https://tutorials.meteor.com">
        <%- partial('partials/illustration-guide') %>
        <span>Tutorials</span>
      </a>
    </div>

    <div class="panel-item">
      <a class="" href="https://guide.meteor.com">
        <%- partial('partials/illustration-compass') %>
        <span>Guide</span>
      </a>
    </div>

    <div class="panel-item active">
      <a class="" href="https://docs.meteor.com">
        <%- partial('partials/illustration-logs') %>
        <span>API Docs</span>
      </a>
    </div>

    <div class="panel-item">
      <a class="" href="https://forums.meteor.com/">
        <%- partial('partials/illustration-support') %>
        <span>Forums</span>
      </a>
    </div>
  </div>
</div>
