<div class="sidebar">
  <span class="select">
    <select class="version-select">
      <% config.versions.forEach(function (v) { %>
        <option value="Version <%- v %>">Version <%- v %></option>
      <% }) %>
    </select>
  </span>

  <div class="input-symbol">
    <input type="text" placeholder="Search Meteor <%- config.subtitle %>" />
    <span class="icon-search"></span>
  </div>


  <ul class="toc">
    <% _.each(config.sidebar_categories, function(pages, category) { %>
      <li>
        <% if (category !== 'null') { %>
          <div class="heading-toc"><%- category %></div>
        <% } %>
        <ul class="list-toc">
          <% pages.forEach(function(path) { %>
            <% p = site.pages.findOne({path: path + '.html'}); %>
            <li class="item-toc <%- page.title === p.title ? ' current' : '' %>">
              <a href="<%- relative_url(page.path, p.path) %>" class="sidebar-link <%- page.title === p.title ? ' current' : '' %>">
                <%- p.title %>
              </a>
            </li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>


</div>
