<div class="sidebar charcoal">
  <div class="panel">
    <div id="sidebar-panel-nav"></div>
    <script>ApolloNav.initNav({ theme: 'light', id: 'mobile-nav' }, 'sidebar-panel-nav')</script></a>
  </div>

  <div class="sidebar-content">
    <div class="topcap">
      <span class="title-sidebar"><%- config.title %></span>
      <% if (config.versions.length > 1) { %>
        <span class="select version-sidebar nochrome">
          <select class="version-select">
            <% config.versions.forEach(function (v) { %>
              <option value="v<%- v %>"><%- v %></option>
            <% }) %>
          </select>
        </span>
      <% } %>
    </div>

    <% if (config.apis && config.apis.docsearch) { %>
    <div class="wrapper-search">
      <div class="input-symbol small round">
        <input type="text" placeholder="Search <%- config.subtitle %>" id="desktop-search-input" />
        <span class="icon-search"></span>
      </div>
      <div class="wrapper-desktop-search-results"></div>
    </div>

    <% } %>

    <ul class="toc">
      <% _.each(config.sidebar_categories, function(pages, category) { %>
        <li>
          <% if (category !== 'null') { %>
            <div class="heading-toc"><%- category %></div>
          <% } %>
          <ul class="list-toc">
            <% pages.forEach(function(path) { %>
              <%
                // The path we've been told to find from _config.yaml.
                const htmlPath = `${path}.html`

                // Highlight this link if it's the page we're on.
                const currentClass =
                  page.path === htmlPath ? ' current' : '';

                // Lookup information about this page.
                const dbLink = site.pages.findOne({path: htmlPath});

                const targetUrl =
                  dbLink &&
                  dbLink.path &&
                  relative_url(page.path, dbLink.path);

                const displayTitle = (dbLink && (dbLink.sidebar_title || dbLink.title)) || path;
              %>
              <% if (dbLink) { %>
              <li class="item-toc <%- currentClass %>">
                <a
                  href="<%- targetUrl %>"
                  class="sidebar-link <%- currentClass %>"
                >
                  <span><%- displayTitle %></span>
                </a>
              </li>
              <% } %>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  </div>
</div>
